html {
    height: 100%;
}

body {
  height: 100%;
  background: #1192d3;
  background-image: url("http://lorempixel.com/1920/800/nature/");
  color: white;
}

header {
  flex-basis: 100%;
  text-align: center;
}

.flex-container {
   height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Cnt-block {
  flex: 1;
  text-align: center;
}

@media screen and (max-width: 480px) {
 .flex-container > * {
  flex-basis: 100%; 
 }
}
